<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Alana</title>
    <link href="/static/css/style.css" rel="stylesheet">
</head>
<body>

    <h1>About Alana Zimmerman</h1>

    <h2>School Life</h2>

        <!-- This creates the image of the smith logo and links it to the smith website-->
        <a href="https://www.rhsmith.umd.edu/" target="_blank"><img
        src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png"
        class="logo" alt="Smith Logo"></a>

        <p>I am an <strong>accounting</strong> and <strong>information systems</strong> double major
        at the Robert H. Smith School of Business at the University of Maryland.
        My current cumulative GPA is 3.8. Last summer I had an internship at PwC as a
        tax intern. This summer I will be completing an internship at Deloitte, also as a
        tax intern. In the Fall of 2024 I will begin my graduate program to get my Masters
        of Accounting to then take the CPA exam and become a certified CPA.</p>

        <p class="underline">My <strong><em>favorite</em></strong> courses:</p>

        <!-- Create a numbered list of my favorite course completed to date-->
        <ol>
            <li>BUAC721 - Business Law for Managers</li>
            <li>BMGT302 - Essential Programming Skills for Business Analytics</li>
            <li>BMGT340 - Business Finance</li>
            <li>BMGT323 - Taxation of Individuals</li>
            <li>BUAC764 - Tax II: Taxation of Corporations & Other Entities</li>
        </ol>

        <!-- This table displays all IS major courses I have taken and when they were completed -->
        <p>Information Systems Major Classes Taken:</p>
        <table>
            <tr>
                <th>Course</th>
                <th>Semester Completed</th>
            </tr>
            <tr>
                <td>BMGT302</td>
                <td>Spring 2022</td>
            </tr>
            <tr>
                <td>BMGT402</td>
                <td>Spring 2023</td>
            </tr>
            <tr>
                <td>BMGT403</td>
                <td>Fall 2023</td>
            </tr>
            <tr>
                <td>BMGT326</td>
                <td>Spring 2023</td>
            </tr>
            <tr>
                <td>BMGT404</td>
                <td>Spring 2024</td>
            </tr>
            <tr>
                <td>BMGT407</td>
                <td>Spring 2024</td>
            </tr>
        </table>

    <h2>Personal Life</h2>
        <p>I was born on August 6, 2002. I have two brothers both of which are younger than me.
        My family has a dog breeding business where we breed <em>poodles</em>, <em>goldendoodles</em>,
        <em>bernedoodles</em>, and <em>sheepadoodles</em> of all sizes. From a young age I have known how
        to raise and deliver puppies. In my home alone we have 9 pets and at my grandmas
        house, the main place of operation, we have just about 50 dogs who are all loved
        and cared for.</p>

        <p class="underline">My <em><strong>hobbies</strong></em> include:</p>

        <!-- Display a bullet point list of my hobbies -->
        <ul>
            <li><strong>Traveling</strong></li>
            <li>Spending quality time with my family</li>
            <li>Playing with puppies</li>
            <li>Shopping</li>
            <li>Thrill seeking</li>
        </ul>

        <p class="underline">My favorite websites to shop on are:</p>

        <!-- Links that open up a new webpage displaying my favorite websites to shop at -->
        <ul>
           <li><a href="https://shop.lululemon.com/" target="_blank">Lululemon</a></li>
           <li><a href="https://www.fashionnova.com/" target="_blank">Fashion Nova</a></li>
           <li><a href="https://www.sephora.com/" target="_blank">Sephora</a></li>
           <li><a href="https://www.amazon.com/" target="_blank">Amazon</a></li>
        </ul>

    <h2>Family Business</h2>
        <p id="special-id">Ever since I was a young girl, my family has had a family dog breeding business.
            We began with breeding smaller dog breeds such as chihuahuas, yorkies, king charles
            cavaliers, and toy poodles. When I was around 12 years old we began breeding the larger
            more designer breeds of dogs. We started with goldendoodles and since then have expaneded
            into breeding bernedoodles, poodles, sheepadoodles, and golden mountain doodles of
            all sizes. I know how to whelp and raise the puppies all on my own, which is not a
            skill set that many people can say that they possess. This process has helped me
            gai essential small business skills such as how to manage the business and marketing
            on social media platforms.</p>

    <h2>Other</h2>
        <!-- Relative link to my hello page on the same website -->
        <p>A link to the <a href="/hello" target="_blank">hello</a> page.</p>

</body>
</html>
